/*transition - плавні переходи з одного значення властивості в інше
transition-property: all (всі) - містить назву СSS властивостей до яких буде використовуватись ефект переходу;
transition-duration: 1s / 0ms - час за який змінюєтся властивість одна на другу;
transition-timing-function: ease - задає стиль нашому переходу (певний сценарій);
transition-delay: 0.5s / 0ms - затримка виконання переходу;
універсальний запис: transition: all 1s ease 0.5s;
*/
/*animation: name / duration / timing-function / iteration-count  /delay / direction / fill-mode;
   animation: circle / 1s / ease / infinite(рази) / 0.5s / reverse / forwards;
   
   !пишу для елемента або блока значення animation
   
   animation-name: circle;  - імя
   animation-duration: 1s;  - час за який змінюєтся властивість
   animation-timing-function: ease ;  - стиль переходу
   animation-iteration-count: 1 (infinite-безкінечно); - кількість разів прокрутки сценарію
   animation-direction: reverse /normal/ alternete;  - визначає напрямок тип програвання ключових значент @
   animation-delay: 0.5s;  - затримка програвання (значення мінусове можна)
   animation-fill-mode: none/ forwards ;  - визначає які властивості будуть примінятись після закінчення сценарію 
   animation-play-state: running/ paused; - дозволяє запустити або зуптнити анімацію на подіі
   
   !пишу просто під елементом в CSS
   @keyframes circle {
      0%{
         властивості які хочу примінити 
      }
      50%{
         властивості які хочу примінити 
      }
      100%{
         властивості які хочу примінити 
      }
   }
 */ 


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.wrapper{
   position: relative;
   overflow: hidden;
   min-height: 100%;
}

.transition{
   background-image: linear-gradient(to bottom, #34bcf8, #58b4ff, #7ea9ff, #a49dfb, #c68eed);
   height: 820px;
   font-family:"Roboto+Mono";
   font-size: 18px;
}
[class*="__container"]{
   margin: 0 auto;
   max-width: 1300px;
}

/* Гра і блок тексту*/
.game{
   border: 2px solid rgb(77, 77, 76);
   height: 400px;
   position: relative;
   z-index: 1;
   box-shadow: 5px 5px 5px 2px rgb(66, 63, 63);
   animation: game 12s ease 1 5s forwards;
}
@keyframes game{
   0%{
   
   }
   50%{
      background-color: #0120e969;
   }
   75%{
      background-color: #0120e969;
   }
   100%{

   }

}
.transition__title{
   font-size: 28px;
   text-align: center;
   padding: 30px 0px;
   animation: title 4s ease 1 5s forwards;
}
@keyframes title{
   0%{
      transform: scale(1);
   }
   100%{
      transform: scale(0);
      transform-origin: top;
   }
}
.transition__game{
   margin-bottom: 30px;
}
.text{
   line-height: 1.5;
   padding-left: 250px;
}


.text h2{
   font-size: 24px;
}
.text__list li{
   list-style: inside ;
   padding: 0px 20px;
}


/* Елементи гри*/
.game__line{
   width: 1300px;
   height:2px;
   background-color: rgb(80, 78, 78);
   margin-bottom: 5px;
   position: absolute;
   top: 290px;
}
.game__line2{
   width: 1300px;
   height:2px;
   border: 1px dashed rgb(87, 87, 86);
   position: absolute;
   top: 300px;
}

/* ! діно */
.game__dino{
   position: absolute;
   top: 250px;
   z-index: 2;
   animation-name: dino;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
   animation-iteration-count: 1;
   animation-play-state: running;
   animation-delay: 3s;
   animation-duration: 15s;
   visibility: hidden;
}

.game__dino img{
   width: 70px;
   height: 70px;
}
@keyframes dino{
   0%{
      transform: translate(0,0);
      visibility: hidden;
      opacity: 0;
   } 
   2%{
      transform: translate(0,0);
      visibility:visible;
      opacity: 1;
   }
   10%{
      transform: translate(120px,0px);
      opacity: 1;
   }
   15%{
      transform: translate(200px,-100px);
      opacity: 1;
   }
   20%{
      transform: translate(300px,0px);
      opacity: 1;
   }
   35%{
      transform: translate(450px,0px);
      opacity: 1;
   }
   40%{
      transform: translate(560px,-100px);
      opacity: 1;
   }
   45%{
      transform: translate(620px,0px);
      opacity: 1;
   }
   55%{
      transform: translate(700px,0px);
      opacity: 1;
   }
   60%{
      transform: translate(800px,-100px);
      opacity: 1;
   }
   65%{
      transform: translate(850px,0px);
      opacity: 1;
   }
   80%{
      transform: translate(1030px,0px);
      opacity: 1;
   }
   85%{
      transform: translate(1120px,-100px);
      opacity: 1;
   }
   90%{
      transform: translate(1160px,0px);
      opacity: 1;
   }
   99%{
      transform: translate(1250px,0px);
      opacity: 1;
   }
   100%{
      transform: translate(1250px,0px);
      overflow: hidden;
      opacity: 0;
   }
}



/* !хмаринка */
.game__cloud{
   /*box-shadow: 0px 0px 50px 10px rgb(233, 245, 248), 0px 0px 10px 10px inset rgb(218, 248, 255) ;*/
   border-radius: 43% 50%;
   position: absolute;
   animation-name: cloud;
   animation-iteration-count: 1;
   animation-duration: 6s;
   animation-timing-function: linear;
   animation-delay: 1s;
   opacity: 0;
}
@keyframes cloud{
   0%{
      transform: translate(0,0) rotate(0deg) skew(0deg);
      opacity: 0;
   }
   50%{
      transform: translate(40px,0) rotate(10deg) skew(-10deg);
      opacity: 1;
   }
   100%{
      transform: translate(80px,0) rotate(0deg) skew(0deg);
      opacity: 0;
   }
}
.game__cloud img{
   width: 70px;
   height: 40px;
}
.game__cloud--1{
   top: 100px;
   left: 30px ;
}
.game__cloud--2{
   top: 150px;
   left: 450px;
}
.game__cloud--3{
   top: 30px;
   left: 900px;
}
.game__cloud--4{
   top: 175px;
   left: 1150px;
}


/* !кактус */
.game__cactus{
   position: absolute;
   z-index: 10;
}
.game__cactus img{
   width: 70px;
   height: 60px;
}

.game__cactus--1{
   top: 250px;
   left: 200px;
   animation: cactus1 3s ease 1 6s forwards;
}
@keyframes cactus1{
   0%{
      transform: scale(1);
   }
   100%{
      transform: scale(0);
      transform-origin: bottom;
   }
}
.game__cactus--2{
   top: 250px;
   left: 550px;
   animation: cactus2 3s ease 1 10s forwards; 
}
@keyframes cactus2{
   0%{
      transform: scale(1);
   }
   100%{
      transform: scale(0);
      transform-origin: bottom;
   }
}
.game__cactus--3{
   top: 250px;
   left: 1100px;
   animation: cactus3 2s ease 1 16s forwards; 
}
@keyframes cactus3{
   0%{
   transform: scale(1);
   }
   100%{
      transform: scale(0);
      transform-origin: bottom;
   }
}

/* !пташкa */
.game__bird{
   position: absolute;
   animation: bird 9s linear 1 5s ;
   opacity: 0;
}
   @keyframes bird{
      0%{
         transform: translate(0px,0px) scale(1)  skew(0deg);
         opacity: 0.3;
      }
      10%{
         transform: translate(0px,0px) scale(1)  skew(5deg);
         opacity: 0.8;
      }
      50%{
         transform: translate(-10px,5px) scale(1.2) skew(20deg);
      }
      90%{
         opacity: 1;
      }
      100%{
         transform: translate(-20px,10px) scale(1.3) skew(30deg);
         opacity: 0;
      }
   }
.bird img{
   width: 50px;
   height:30px;
}
.bird{
   top: 240px ;
   left: 800px;
}


/* !сонце */
.game__sun{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: absolute;
   top: 100px;
   left: 200px;
   animation-name: sun;
   animation-iteration-count: 1;
   animation-duration: 10s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}
@keyframes sun{
   0%{ 
      transform: translate(0px,0px) scale(0.7) rotate(0deg);
      background-image: radial-gradient(circle, #f8c334, #f7c44f, #f5c566, #f2c67a, #edc88e); 
      box-shadow: 0px 0px 50px 10px rgb(254, 197, 98);
   }
   50%{
      transform: translate(150px,-90px) scale(1) rotate(90deg);
      opacity: 0.9;
      background-image: linear-gradient(to left bottom, #f2fe00, #f0e71a, #ead229, #e1bd34, #d5aa3d);
   }
   80%{
      transform: translate(300px,-80px)scale(0.9) rotate(180deg);
      opacity: 0.1;
   }
   100%{
      transform: translate(300px,-80px)scale(0.7) rotate(180deg);
      opacity: 0;
   }
}

/* !ліжко і динозаврик №1*/
.transition__bed{
   display: inline-block;
   animation-name: bed;
   animation-duration: 3s;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
   animation-delay: 4s;
   animation-iteration-count: 1;
}
.transition__bed img{
   width: 200px;
   height: 100px;
}
@keyframes bed{
   0%{
      transform: scale(1);
      transform-origin: left bottom;
   }
   100%{
      transform: scale(0);
      transform-origin: left bottom;
   }
}

.transition__bed::before{
   content: "";
   background: url("../img/pictures/dino.png") 0 0 / 70px 70px no-repeat;
   width: 70px;
   height: 70px;
   display: inline-block;
   position: absolute;
   transform: translate(60px,5px) scale(1.1) rotate(-90deg);
   
}
.transition__bed::before{
   animation-name: dino1;
   animation-duration: 2s;
   animation-timing-function: ease;
   animation-fill-mode: forwards;
   animation-delay: 1s;
   animation-iteration-count: 1;
   
}

@keyframes dino1{
   0%{
      transform: translate(60px,5px) scale(1.2) rotate(-90deg);
      opacity: 1;
   }
   99%{
      transform: translate(-5px,-320px) scale(1.1) rotate(-360deg);
      opacity: 0.9;
   }
   100%{
      transform: translate(6px,-320px) scale(1) rotate(-360deg);
      opacity: 0;
   }
} 

/* !місяць і зорі*/
.game__moon{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: absolute;
   top: 25px;
   left: 470px;
   background-image: radial-gradient(circle, #dfe0ff, #d8e7ff, #d6edff, #d8f1fc, #def5f9);
   box-shadow: 0px 0px 50px 10px rgb(239, 238, 238);
   opacity: 0;
   animation: moon 11s linear 1 6s;
}
@keyframes moon{
   0%{
      opacity: 0;
   }
   10%{
      opacity: 1;
   }
   95%{
      opacity: 1;
   }
   100%{
      opacity: 0;
   }
}

.game__star{
   width: 10px;
   height: 10px;
   background-color: white;
   box-shadow: 0px 0px 15px 10px white;
   border-radius: 50%;
   position: absolute;
   opacity: 0;
   animation: star 11s linear 1 7s;
}
@keyframes star{
   0%{
      transform: translate(10px,10px) scale(1);
      opacity: 0.5;
   }
   25%{
      transform: translate(-5px,-5px) scale(1.1) ;
      opacity: 1;
   }
   50%{
      transform: translate(15px,15px) scale(1) ;
      opacity: 1;
   }
   100%{
      transform: translate(-10px,-10px) scale(1.1) ;
      opacity: 0;
   }
}

.star--1{
   top: 50px;
   left: 50px;
}
.star--2{
   top: 180px;
   left: 250px;
}
.star--3{
   top: 40px;
   left: 350px;
}
.star--4{
   top: 150px;
   left: 550px;
}
.star--5{
   top: 60px;
   left: 750px;
}
.star--6{
   top: 90px;
   left: 1000px;
}
.star--7{
   top: 20px;
   left: 1200px;
}

.transition__end{
   position: absolute;
   top: 150px;
   left: 500px;
   font-size: 16px;
   text-transform: capitalize;
   font-weight: 700;
   opacity: 0;
   animation: end 5s ease 1 17s forwards;
}
@keyframes end{
   0%{
      opacity: 1;
      transform:scale(1) ;
   }
   100%{
      transform:scale(1.5) ;
      opacity: 1;
   }
}
