/* ___обнулення стилів тегів___*/
*,
*::before,
*::after {
   margin: 0; 
   padding: 0;
   border: none;  
   box-sizing: border-box;/*Властивість box-sizing дозволяє змінити алгоритм розрахунку розмірів блоку, щоб властивості width і height задавали розміри не контенту, а саме розміри блоку.*/
}
li{
   list-style: none;
}
a{
   color: inherit;
}
a:link,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: inherit ;
   font-size: inherit;
}
input, 
textarea 
{ 
   color: inherit;
   background-color: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
html,
body{
   height: 100%;
}
body {
   line-height: 1;
}