@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

[class*="__container"]{
   max-width: 1230px;
   margin: 0 auto;
}

body {
   font-family: "Lato";
}

/*Стаття 1*/

.article{
   max-width: 800px;
   margin: 0 auto;
   outline: 2px solid burlywood;
}
.article__title {
   font-weight:900;
   font-size:46px;
   line-height:1.3;
   margin-bottom: 26px;
}
.article__image {
   padding-bottom: 60px;
}
.article__image img {
   max-width:100%;
}
.article__text{
   columns: gray/800;
   line-height: 1.6;
}
.article__text p,
.article__text ul{
   margin-bottom: 24px;
}
.article__text li{
   background: url("../img/icons/check.svg") 0 6px / 16px 16px no-repeat;
   padding-left: 26px;
}
.article__text li:not(:last-of-type){
margin-bottom: 4px;
}
.article__text blockquote{
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 48px;
   padding-left: 58px;
   background: url("../img/icons/braces.svg") 0 0 / 28px 20px no-repeat;

}
.article__text--black {
   font-weight: 700;
   font-size: 20px;
}

/*Стаття 2*/


.homepage {
   outline: 2px solid burlywood;
}
.createx__image img{
   max-width: 100%;
}
.createx__image {
   width: 100%;
   display: inline-block;
   max-width: 600px;
}
.createx__block{
   display: inline-block;
   width: 50%;
   padding: 10px 0 10px 40px;
   vertical-align: top;
   max-width: 400px;

}

.title h2{
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   color: #1E212C;
}
.title h6{
   font-weight: 700;
   color: gray/900;
   line-height: 1.5;
   text-transform: uppercase;
}
.createx__list ul{
   margin-bottom: 22px;
}
.createx__list li{
   color: #424551;
   line-height: 1.6;
   background: url("../img/icons/check.svg") 0 6px / 16px 16px no-repeat;
   padding-left: 32px;
   margin-bottom: 12px;
}

.button {
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px; 
   padding: 10px 30px; 
   color: aliceblue;
   display: inline-block;
}
.homepage__courses {
   margin-bottom: 100px;
}
.content {
   border: 1px solid #E5E8ED;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 4px;
   max-width: 600px;
}
.courses__content{
   margin-bottom: 30px;
}
.content__info p{
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
}


.info__unit{
   border-radius: 4px;
   font-size:14px;
   line-height: 1.5;
   color: #FFFFFF;
   padding: 1px 8px;
   margin-bottom: 20px;
   display: inline-block;
}
.info__unit--green{
background-color: #03CEA4;
}
.info__unit--blue{
   background-color:#5A87FC;
}
.info__unit--orange{
   background-color:#F89828;
}
.info__unit--pink{
   background-color:#F52F6E;
}
.info__money{
   color: red;
   font-size: 18px;
}
.info__name{
   color: gray;
   font-size: 18px;
}


.benefits .title{
   margin-bottom: 60px;
   text-align: center;
}
.button--border{
   background: none;
   color: #FF3F3A;  
   border: 1px solid #FF3F3A;
   padding: 10px 72px;
}
.button--none-color{
   background: none;
   color: gray;
   padding: 10px 72px;
}

.experienced-tutors::before {
content: "";
background: url(../img/icons/Star.svg) 0 0 no-repeat;
width: 16px;
height: 16px;
display: inline-block;
margin-left: -16px;
margin-right: 8px;
}
.feedback-support::before {
   content: "";
   background: url(../img/icons/like.svg) 0 0 no-repeat;
   width: 16px;
   height: 16px;
   display: inline-block;
   margin-left: -16px;
   margin-right: 8px;
}
.online-library::before {
   content: "";
   background: url(../img/icons/Layouts.svg) 0 0 no-repeat;
   width: 16px;
   height: 16px;
   display: inline-block;
   margin-left: -16px;
   margin-right: 8px;
}
.community::before {
   content: "";
   background: url(../img/icons/Chat.svg) 0 0 no-repeat;
   width: 16px;
   height: 16px;
   display: inline-block;
   margin-left: -16px;
   margin-right: 8px;
}
.benefits__taxt p{
   color: #424551;
   line-height: 1.6;
   max-width: 495px;
}
.benefits__taxt h2{
font-weight: 900;
font-size: 32px;
line-height: 1.3;
color:  #1E212C;
margin-bottom: 24px;
}
.benefits__taxt{
   padding-top: 182px;
   
}
.benefits{
   background: url("../img/illustration.svg")  bottom right no-repeat;
   max-width: 1230px;
   min-height: 700px;
}

.iamgroot{
   font-size: 46px;
   font-weight: 700;
   text-align: center;
   text-shadow: 2px 1px 1px #1E212C;
   color: #FFFFFF;
   letter-spacing: 2px;
   word-spacing: 3px;
   background-color: red;
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 10px;
}